.hero {
  background-image: url(../assets/img/bg_hero.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 11.8rem 0 14.3rem;
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .left {
      width: 100%;
      max-width: 62.2rem;
      animation: faderight 1s forwards;
      position: relative;
      z-index: 4;
      .plataform {
        display: flex;
        margin-bottom: 2.4rem;
        align-items: center;
        span {
          color: #c0c0cc;
          font-family: Roboto Flex;
          font-size: 1.2rem;
          line-height: 150%;
          background-color: #1b1b21;
          border-radius: 4px 0rem 0rem 4px;
          padding: 0.6rem 1.2rem;
        }
        strong {
          border-radius: 0px 4px 4px 0px;
          background-color: #25252e;
          color: #fff;
          font-family: Roboto Flex;
          font-size: 1.2rem;
          font-weight: 500;
          line-height: 150%;
          padding: 0.6rem 1rem;
        }
      }
      h1 {
        text-transform: uppercase;
        margin-bottom: 0.8rem;
      }
      .value {
        margin: 4.8rem 0 7.2rem;
        h3 {
          margin-bottom: 2.4rem;
        }
        .btns {
          display: flex;
          gap: 2.4rem;
        }
      }
      .instructions {
        ul {
          margin-bottom: 1.8rem;
          display: flex;
          gap: 1.6rem;
          li {
            display: flex;
            align-items: center;
            gap: 1.6rem;
            p {
              color: #f2f2ff;
              font-family: Roboto Flex;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 150%; /* 24px */
            }
          }
          li:last-child::before {
            content: "";
            background-color: #c0c0cc;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
          }
        }
        ul:last-child {
          margin-bottom: 0;
          li::before {
            display: none;
          }
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: end;
      margin-top: 4.4rem;
      animation: fadeleft 1s forwards;
      img {
        margin-bottom: 1.6rem;
      }
      p {
        color: #e1e1e1;
        font-size: 12px;
        font-weight: 500;
        line-height: 150%;
      }
    }
  }
}
@media (max-width: 1200px) {
  .hero {
    padding: 6rem 0 14.3rem;
  }
}
@media (max-width: 991px) {
  .hero {
    .container {
      .left {
        max-width: 100%;
      }
      .right {
        display: none;
      }
    }
  }
}
@media (max-width: 560px) {
  .hero {
    padding: 4rem 0 4rem;
    background-size: 1120px;
    background-position-x: 62%;
    .container {
      .left {
        .value {
          margin-bottom: 4rem;
          h3 {
            margin-bottom: 1rem;
          }
        }
        .instructions {
          ul {
            gap: 1rem;
            li {
              gap: 1rem;
              p {
                margin-bottom: 0;
                font-size: 1.4rem;
              }
            }
          }
          ul:nth-child(2) {
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }
}

.hero::after {
  content: "";
  width: 100%;
  background: linear-gradient(180deg, #060608 0%, rgba(0, 4, 7, 0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 21.6rem;
  transform: rotate(180deg);
  pointer-events: none;
}

.s-vilao::before {
  content: "";
  width: 100%;
  background: linear-gradient(180deg, #060608 0%, rgba(0, 4, 7, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 21.6rem;
}
@media (max-width: 991px) {
  .s-vilao::before {
    height: 10rem;
  }
}

.s-vilao {
  padding: 29.1rem 0 30.3rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: changebg 10s infinite linear;
  position: sticky;
  top: 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
      font-size: 4.8rem;
      margin-bottom: 0.8rem;
      text-align: center;
    }
    p {
      margin-bottom: 7.2rem;
      text-align: center;
    }
  }
  @keyframes changebg {
    0% {
      background-image: url(../assets/bg-vilao/01.jpg);
    }
    10% {
      background-image: url(../assets/bg-vilao/02.png);
    }
    20% {
      background-image: url(../assets/bg-vilao/03.png);
    }
    30% {
      background-image: url(../assets/bg-vilao/04.png);
    }
    40% {
      background-image: url(../assets/bg-vilao/05.jpg);
    }
    50% {
      background-image: url(../assets/bg-vilao/06.png);
    }
    60% {
      background-image: url(../assets/bg-vilao/07.jpg);
    }
    70% {
      background-image: url(../assets/bg-vilao/08.jpg);
    }
    80% {
      background-image: url(../assets/bg-vilao/09.jpg);
    }
    90% {
      background-image: url(../assets/bg-vilao/10.png);
    }
    100% {
      background-image: url(../assets/bg-vilao/11.jpg);
    }
  }
}
@media (max-width: 1200px) {
  .s-vilao {
    height: 55rem;
  }
}
@media (max-width: 560px) {
  .s-vilao {
    height: auto;
    padding: 6rem 0;
    background-size: 90rem;
    .container {
      h2 {
        font-size: 3.6rem;
      }
      p {
        max-width: 30rem;
        margin-bottom: 4rem;
      }
    }
  }
}

.s-vilao::after {
  content: "";
  width: 100%;
  background: linear-gradient(180deg, #060608 0%, rgba(0, 4, 7, 0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 21.6rem;
  transform: rotate(180deg);
}
@media (max-width: 991px) {
  .s-vilao::after {
    height: 10rem;
  }
}

@keyframes faderight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeleft {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
