.s-videos::before {
  content: "";
  width: 33.4rem;
  height: 34.4rem;
  background: linear-gradient(270deg, #060608 -3.29%, rgba(6, 6, 8, 0) 64.25%);
  position: absolute;
  top: 8.9rem;
  right: 0;
  z-index: 1;
  pointer-events: none;
}

.s-videos {
  position: relative;
  padding: 8rem 0 6.4rem;
  overflow: hidden;
  .container {
    position: relative;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 32px;
      .swiper-pagination {
        position: relative;
        width: auto;
        bottom: 0;
        .swiper-pagination-bullet {
          width: 6px;
          height: 6px;
          border-radius: 0;
          background: #2f2f3b;
          opacity: 1;
        }
        .swiper-pagination-bullet-active {
          background-color: white;
        }
      }
    }
    .card-video {
      width: 100%;
      max-width: 38.3rem;
      display: block;
      .thumbnail {
        width: 100%;
        height: 21.6rem;
        margin-bottom: 2.4rem;
        position: relative;
        .play {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -2.25rem;
          margin-left: -2.2rem;
          opacity: 0;
        }
        .thumb {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      span {
        color: #c0c0cc;
        font-family: "Roboto Flex", sans-serif;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }
    }
    .btn {
      position: absolute;
      top: 13.3rem;
      z-index: 2;
      transition: opacity 0.3s ease;
    }
    .btn.btn.swiper-button-disabled {
      opacity: 0;
    }
    .btn-prev {
      left: 0;
      transform: rotate(180deg);
    }
    .btn-next {
      right: 0;
    }
    .thumbnail::before {
      content: "";
      background: url(../assets/svg/mask-hover.svg) no-repeat center center;
      width: 39.1rem;
      height: 22.2rem;
      position: absolute;
      top: -0.3rem;
      left: -0.4rem;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    .card-video:hover {
      .thumbnail {
        .play {
          opacity: 1;
          transition: opacity 0.3s ease;
        }
      }
      .thumbnail::before {
        opacity: 1;
      }
    }
  }
}
@media (max-width: 1200px) {
  .s-videos {
    padding: 6rem 0 6rem;
    .container {
      .btn {
        display: none;
      }
    }
  }
}
@media (max-width: 560px) {
  .s-videos {
    padding: 4rem 0 4rem;
  }
}
